@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* 
모두 선택해서 
여백(바깥)을 0으로 만든다.
안쪽공간을 0으로 만든다.
테두리 및 패딩은 안쪽으로 그린다.
*/


/*  2. 백그라운드
    background-image: url('../images/img_visual01.png');   
    background-color: #f00;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #333333;
    text-decoration: none;
}

ul, li {
    list-style: none;
}

img {
    vertical-align: middle;
    border: 0;
}

html {
    font-size: 16px;
    overflow: hidden;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    color: #444444;
    font-size: 16px;
    line-height: 1.45;
    letter-spacing: 0.3px;
    font-weight: 300;
}


/* 소스 안내 팝업 */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

.modal-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 400px;
    border-radius: 40px;
    background: #fff;
    box-shadow: 5px 1px 5px rgb(0 0 0 / 10%);
    border: 3px solid #2b46db;
}

.modal-content p {
    position: relative;
    display: block;
    padding: 40px;
    font-size: 18px;
}

.modal-content p strong {
    color: #2b46db;
    font-weight: 700;
}

.modal-close {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    cursor: pointer;
    text-align: center;
    padding: 15px 25px;
    border-radius: 10px;
    background: #2b46db; 
    color: #fff;
    text-transform: uppercase;
    border: 0;
}


h1 {
    font-size: 0px;
}

/* 
    공통적으로 사용하는 요소 
    .클래스를 2번 이상 사용하는 공통요소
*/
.inner {
    position: relative;
    display: block;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

/* 개별 section 작업 */
/* 상단 */
.header {
    position: fixed;
    left: 0;
    top: 0;

    display: block;
    width: 100%;
    height: 80px;
    z-index: 999;

    overflow: hidden;
    transition: height 0.4s ease-out 0s;
}

.header:hover {
    height: calc(80px + 330px);
}

.header-top-bg {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 80px;
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
}

.header-bg {
    position: absolute;
    left: 0;
    top: 80px;

    display: block;
    width: 100%;
    height: 330px;
    background: rgba(0, 0, 0, 0.65);
}

.header.inner {}

.header-logo {
    position: absolute;
    display: inline-block;
    top: 20px;
    left: -306px;
}

.gnb {
    position: relative;
    display: block;
    width: calc(180px * 6);
    margin: 0 auto;
}

.gnb a {
    transition: color 0.5s;
}

.depth1 {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
}

.depth1>li {
    position: relative;
    display: block;
    width: 180px;
    float: left;
    padding-left: 50px;
}

.depth1>li>a {
    position: relative;
    display: block;
    width: 100%;
    height: 80px;
    line-height: 79px;
    font-size: 19px;
    font-weight: 500;
    color: #000;
}

.depth1>li>a:hover {
    color: #ed1c24;
}

/* 주메뉴 포커스 유지 */
.depth1>li:hover>a {
    color: #ed1c24;
}

.depth2 {
    position: relative;
    display: block;
    margin-top: 40px;
}

.depth2>li {
    position: relative;
    display: block;
    padding-bottom: 15px;
}

.depth2>li>a {
    position: relative;
    display: block;
    color: #fff;
    font-size: 15px;
    line-height: 1;
    font-weight: 400;
}

.depth2>li>a:hover {
    color: #ed1c24;
}

.header-etc {
    position: absolute;
    top: 35px;
    right: -205px;
}

.lang-list {
    position: relative;
    display: block;
    overflow: hidden;
}

.lang-list>li {
    position: relative;
    display: block;
    float: left;
}

.lang-list>li>a {
    position: relative;
    display: block;
    font-size: 15px;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
}

.lang-list>li:first-child>a {
    color: #888;
    padding-right: 12px;
    line-height: 1;
}

.lang-list>li:first-child>a::after {
    content: '';
    position: absolute;
    top: 3px;
    right: 0;
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #888;
}

.lang-list>li:last-child>a {
    padding-left: 12px;
    line-height: 1;
}

/* 비주얼 */
.visual {
    position: relative;
    display: block;

    width: 100%;
    height: 980px;
    background: url('../images/img_visual01.png') no-repeat center;
    background-size: cover;
    background-attachment: fixed;

}

.visual .inner {
    padding-top: 245px;
}

.visual .inner p::before {
    content: '';
    position: absolute;
    display: block;
    left: auto;
    top: -45px;
    width: 60px;
    height: 5px;
    background: #ed1c24;
}

.visual .inner p {
    position: relative;
    display: block;
    font-size: 70px;
    color: #fff;
    font-weight: 500;
    line-height: 1.15;
    margin-bottom: 40px;
}

.visual .inner span {
    position: relative;
    display: block;
    font-size: 21px;
    color: #fff;
}

.gopart {
    position: absolute;
    display: block;
    left: calc(50% - 16px);
    bottom: 40px;
    background: url('../images/bg_common.png') no-repeat;
    background-position: -122px 0px;
    width: 33px;
    height: 33px;
}

/* 업무파트 */
.part {
    position: relative;
    display: block;
    width: 100%;
    height: 885px;
}

.part .inner {
    padding-top: 110px;
}

.part-top {
    position: relative;
    display: block;
}

.part-top h2 {
    position: relative;
    display: block;
    text-align: center;
    font-size: 44px;
    color: #111;
    font-weight: 600;
    line-height: 1;
    padding-bottom: 25px;
    margin-bottom: 30px;
}

.part-top h2::after {
    content: '';
    position: absolute;
    left: calc(50% - 16px);
    bottom: 0px;
    width: 37px;
    height: 4px;
    background: #ed1c24;

}

.part-top p {
    position: relative;
    display: block;
    text-align: center;
    margin-bottom: 60px;
}

.part-bottom {
    position: relative;
    display: block;
}

.part-list {
    position: relative;
    display: block;
    overflow: hidden;
}

.part-list li {
    position: relative;
    display: block;
    float: left;
    width: calc(100% / 5);
    height: 420px;
    text-align: center;

    background: url(../images/img_business.png) no-repeat;
}

.part-list li:nth-child(1) {
    background-position: calc(-240px * 0) 0px;
}

.part-list li:nth-child(2) {
    background-position: calc(-240px * 1) 0px;
}

.part-list li:nth-child(3) {
    background-position: calc(-240px * 2) 0px;
}

.part-list li:nth-child(4) {
    background-position: calc(-240px * 3) 0px;
}

.part-list li:nth-child(5) {
    background-position: calc(-240px * 4) 0px;
}

.part-list li a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 105px;
    color: #fff;
    font-size: 24px;

    transition: background 0.3s;
}

.part-list li a:hover {
    background: #f48025;
}

.part-list li a::before {
    content: '';
    position: absolute;
    left: calc(50% - 61px);
    top: 214px;
    display: block;
    width: 123px;
    height: 112px;
    background: url(../images/bg_common.png) no-repeat;
    opacity: 0;
    transition: opacity 0.3s;
}

.part-list li a:hover::before {
    opacity: 1;
}

.part-list li:nth-child(1) a::before {
    background-position: -168px 0px;
}

.part-list li:nth-child(2) a::before {
    background-position: -301px 0px;
}

.part-list li:nth-child(3) a::before {
    left: calc(50% - 65px);
    width: 130px;
    background-position: 1px -120px;
}

.part-list li:nth-child(4) a::before {
    left: calc(50% - 65px);
    width: 130px;
    background-position: -140px -122px;
}

.part-list li:nth-child(5) a::before {
    background-position: -269px -120px;
}

/* 공지/뉴스 */
.comm {
    position: relative;
    display: block;
    width: 100%;
    height: 480px;
    background: #58595b;
}

.comm::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 50%;
    height: 100%;
    background: #ed1c24;
}

.comm .inner {
    overflow: hidden;
}

.comm-left {
    position: relative;
    display: block;
    float: left;
    width: calc(50% - 100px);
}

.comm-right {
    position: relative;
    display: block;
    float: right;
    width: calc(50% - 100px);
}

.comm h3 {
    position: relative;
    display: block;
    font-size: 32px;
    color: #fff;
    font-weight: 300;
    padding: 50px 0;
}

.comm ul {
    position: relative;
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.comm ul li {
    position: relative;
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    line-height: 72px;
}

.comm ul li:last-child {
    border: none;
}

.comm ul li a {
    position: relative;
    display: block;
    color: #fff;
    font-size: 16px;
    width: 100%;
    overflow: hidden;
}

.comm ul li a::after {
    content: '';
    position: absolute;
    top: 24px;
    right: 30px;
    width: 48px;
    height: 24px;
    background: url(../images/bg_common.png) no-repeat center;
    background-position: 0px -49px;
}

.notice-list-txt {
    position: relative;
    display: block;
    width: calc(100% - 118px);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* 고객센터 */
.cs {
    position: relative;
    display: block;
    width: 100%;
    height: 360px;
    background: #f8f8f8;
}

.cs .inner {
    overflow: hidden;
    padding-top: 71px;
}

.cs-left {
    position: relative;
    display: block;
    float: left;
    width: calc(50% - 1px);
    background: #fff url(../images/bg_faq.png) no-repeat center;
    background-position: calc(100% - 40px) 50%;
    padding-top: 50px;
    padding-left: 55px;
    padding-bottom: 50px;
}

.cs-right {
    position: relative;
    display: block;
    float: right;
    width: calc(50% - 1px);
    background: #fff url(../images/bg_custom.png) no-repeat calc(100% - 60px) 50%;
    padding-top: 50px;
    padding-left: 55px;
    padding-bottom: 50px;
}

.cs .inner a {
    position: relative;
    display: block;
    
}

.cs h3 {
    position: relative;
    display: block;
    font-size: 30px;
    color: #000;
    font-weight: 500;
    margin-bottom: 20px;
}

.cs p {
    position: relative;
    display: block;
    font-size: 16px;
    color: #444444;
}

/* About */
.about {
    position: relative;
    display: block;
    width: 100%;
    height: 810px;
}

.about .inner {
    padding-top: 100px;
}

.about-top {
    position: relative;
    display: block;
    background: url(../images/img_about.png) no-repeat right center;
    padding-top: 30px;
    padding-bottom: 45px;
}

.about-top h2 {
    position: relative;
    display: block;
    font-size: 44px;
    color: #111;
    font-weight: 600;
    padding-bottom: 25px;
}

.about-top h3::before {
    content: '';
    position: absolute;
    left: 0;
    top: 9px;
    width: 37px;
    height: 5px;
    background: #ed1c24;
}

.about-top h3 {
    position: relative;
    display: block;
    font-size: 21px;
    color: #111;
    font-weight: 500;
    padding-left: 100px;
    padding-bottom: 25px;
}

.about-top p {
    position: relative;
    display: block;
    font-size: 15px;
    color: #444;
    font-weight: 300;
    padding-left: 100px;
}

.about-bottom {
    position: relative;
    display: block;
    text-align: center;
}

.about-list {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-top: 90px;
}

.about-list li {
    position: relative;
    display: block;
    float: left;
    width: 110px;
    height: 160px;
    background: url(../images/bg_icon.png) no-repeat;
}

.about-list li:nth-child(1) {
    background-position: 0px 0px;
}

.about-list li:nth-child(2) {
    position: relative;
    display: block;
    margin: 0 200px;
    background-position: -117px 0px;
}

.about-list li:nth-child(3) {
    background-position: -235px 0px;
}

.about-list li a {
    position: relative;
    display: block;
    margin-top: 125px;
    font-size: 22px;
    font-weight: 500;
    color: #111;
}

/* 하단 */
.footer {
    position: relative;
    display: block;
    width: 100%;
    height: 168px;
    background: #4e4e4e;
}

.footer .inner {
    padding-top: 50px;
    overflow: hidden;
}

.footer-left {
    position: relative;
    display: block;
    float: left;
    padding-right: 150px;
}

.footer-right {
    position: relative;
    display: block;
    float: left;
    font-size: 13px;
    color: #c3c3c3;
}

.footer-list {
    position: relative;
    display: block;
    line-height: 1.8;
}

.footer-list li address {
    position: relative;
    display: block;
    font-style: normal;
}

.footer-list li address copy {
    position: relative;
    display: block;
}