$mainColor: #ed1c24;
$mainColor: #ed1c24;
$mainColor: #ed1c24;
$mainColor: #ed1c24;
$mainColor: #ed1c24;
$mainColor: #ed1c24;
$mainColor: #ed1c24;
$mainColor: #ed1c24;
$mainColor: #ed1c24;
$mainColor: #ed1c24;
$mainColor: #ed1c24;